# Python
__pycache__/
*.pyc
venv/
.venv/

# Node
node_modules/
dist/

# ML data & artifacts
ml/data/raw/*
!ml/data/raw/.gitkeep
ml/data/processed/*
!ml/data/processed/.gitkeep
ml/artifacts/*
!ml/artifacts/.gitkeep
.ipynb_checkpoints/

# Env
.env
.env.local

# OS
.DS_Store
